<section class="container-fluid full-wh contact">
	<div class="row">
		<div class="col-xs-12 col-sm-6 center-xs">
			<ul class="list-unstyled list-link">
				<li><a href="#">home</a></li>
				<li><a href="#">about us</a></li>
				<li><a href="#">team</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 btn-group center-xs end-md">
			<button type="button" class="btn btn-second">contact</button>
		</div>
	</div>
</section>
<footer class="row">

	<div class="col-xs-12 col-sm-2 center-xs">
		<div class="logo">TEST</div>
	</div>
	<div class="col-xs-12 col-sm-10 btn-group center-xs end-md">
		<ul class="list-unstyled list-link">
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy policy</a></li>
        </ul>
	</div>
</footer>
