<header class="row">
	<div class="col-xs-12 col-sm-2 center-xs">
		<div class="logo">TEST</div>
	</div>
	<div class="col-xs-12 col-sm-10 row btn-group btn-header around-xs end-md">
		<button class="btn search"><img src="{{ site.github.url }}/assets/img/icon/icon-search.png" alt="search"></button>
		<button class="btn menu">menu</button>
		<button class="btn cart"><img src="{{ site.github.url }}/assets/img/icon/icon-cart.png" alt="cart"><span class="total"> 1</span></button>
		<div class="btn-menu">
			<button class="btn "><img src="{{ site.github.url }}/assets/img/icon/icon-user.png" alt="user"> alex</button>
			<div class="user-menu shadow">
				<ul class="list-unstyled text-center">
					<li><a href="#">Setting</a></li>
					<li><a href="#">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>