<section id="section-0" class="container-fluid full-wh">
    <div class="my-slider">
        <div><img src="/assets/img/slider/slide-1.jpg" alt="slide1">
            <span class="slider__title text-center">Launching Soon</span>
            <button type="button" class="btn btn-primary">register interest</button>
            <div class="slider__hover"></div>
        </div>
        <div><img src="/assets/img/slider/slide-1.jpg" alt="slide1">
            <span class="slider__title text-center">Launching Soon</span>
            <button type="button" class="btn btn-primary">register interest</button>
            <div class="slider__hover"></div>
        </div>
    </div>
    <script type="module"> 
    var slider = tns({
        container: '.my-slider',
        items: 1,
        slideBy: 'page',
        autoplay: false,
        "mouseDrag": true,
        controls: false,
        rewind: true
    });
    </script> 
</section>