@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.slider__title, .title{
    font-family: 'Abril Fatface', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;700&display=swap');;
ul,.description, .btn-header{
    font-family: 'Aleo', serif;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url("/rr/assets/fonts/MyriadPro/MyriadProRegular.eot");
    src: url("/rr/assets/fonts/MyriadPro/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("/rr/assets/fonts/MyriadPro/MyriadProRegular.woff") format("woff"),
    url("/rr/assets/fonts/MyriadPro/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
.second-title,.logo{
    font-family: 'MyriadProRegular';
}
@font-face {
    font-family: 'Baufra';
    src: url("/rr/assets/fonts/Baufra/Baufra-Bold.eot");
    src: url("/rr/assets/fonts/Baufra/Baufra-Bold.eot?#iefix")format("embedded-opentype"),
    url("/rr/assets/fonts/Baufra/Baufra-Bold.woff") format("woff"),
    url("/rr/assets/fonts/Baufra/Baufra-Bold.woff2") format("woff2"),
    url("/rr/assets/fonts/Baufra/Baufra-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
.wrapper-text{
    padding-top: 66px;
    padding-bottom: 66px;
}
.title,.second-title{
    font-size: 40px;
    letter-spacing: 1px;
    @media only screen and (max-width: 576px){
        width: 100%;
        text-align: center;
    }
}
h1,h2{
    span{
        margin-left: 40px;
    }
}
h3,h4{
    font-weight: 700;
}
.text-center{
    text-align: center;
}